@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#app {
    font-family: 'Open Sans', sans-serif;
}
.logo {
    height: 30px;
}
.btn-primary {  
    background-color: #5fa0a2;
    border: 1px solid #5fa0a2;
}
.btn-primary:hover {
    background-color: #6cb7b9;
    border: 1px solid #5fa0a2;
}
.customers-img {
    max-height: 100px;
    padding: 5px 0 5px 0;
}
.logo {
    height:40px;
}
.banner {
    background: url("../../assets/img/banner.jpg") no-repeat center center;
    background-size: cover;
}
.header-content {
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
p {
    font-size: 1.1em;
}
/*********** Sidenav ************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(44, 44, 44);
    opacity: .95;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 80px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color:#fff;
    font-size: 1.3em;
    font-weight: 1000;
    text-decoration: none;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 65px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
  }

  .closebtn:hover {
    font-size: 46px !important;
    top: 55px;
    font-weight: 1000;
  }
  /*********** Sidenav ************/

