@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#app {
    font-family: 'Open Sans', sans-serif;
}
.logo {
    height: 30px;
}
.btn-primary {  
    background-color: #5fa0a2;
    border: 1px solid #5fa0a2;
}
.btn-primary:hover {
    background-color: #6cb7b9;
    border: 1px solid #5fa0a2;
}
.customers-img {
    max-height: 100px;
    padding: 5px 0 5px 0;
}
.logo {
    height:40px;
}
.banner {
    background: url("../../assets/img/banner.jpg") no-repeat center center;
    background-size: cover;
}
.header-content {
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

